@keyframes fadeOutLeft {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@keyframes fadeOutRight {
    0% {
        opacity: 1
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}
@keyframes breath {
    0% {
        opacity: .2;
    }

    60% {
        opacity: 1;
    }

    to {
        opacity: .2;
    }
}
@keyframes flash {
    0%,50%,to {
        opacity: 1
    }

    25%,75% {
        opacity: 0
    }
}




.Post-body :is(h1,h2,h3,h4,h5,h6):before {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 0.5em;
    background: linear-gradient(90deg, rgba(0, 147, 233,0.8) 0%, rgba(128, 208, 199,0.8) 100%);
    /* filter: brightness(1.5); */
    opacity: .25;
    position: absolute;
    /* bottom: 0px; */
    mix-blend-mode: color;
    z-index:-1;
}

.title-anchor:target+.title-sub-anchor:before {
    /* content: ''; */
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 0.5em;
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    opacity: 1;
    position: absolute;
    mix-blend-mode: color;
    z-index: -1;
    /* left: -0.5em; */
    /* transition: 1s!important; */
    animation: 5s flash ease-in-out infinite;
}
@media @desktop-hd {
    
    .catalog-top,.catalog-top>p {
    z-index: 1;
    background: var(--body-bg);
}

    .PostStreamScrubber.Dropdown.App-titleControl .Dropdown-menu.dropdown-menu .Scrubber {
    transform: translate(-15px, 0px);
}
    
.catalog-top:not(:empty){
        animation: 1s 1 ease-in-out fadeInRight;
}
    
}
.title-anchor:target+.title-sub-anchor:empty:before {
    margin-top: -1em;
}
.anchor:target+.sub-anchor,.title-anchor:target+.title-sub-anchor {
    display: inline-block;
    animation: pulse 1s 10 ease-in-out both;
    font-weight: 900;
    text-shadow: 0px 0px 5px rgba(255,255,0,.4);
}

.catalog-top a[data-tag][data-isanchor]:not(:empty):before {
    content: "\f608";
    font-family: 'Font Awesome 5 Free';
    /* color: black; */
    width: 1.1em;
    display: inline-block;
    font-weight: 900;
    /* color: var(--control); */
}

.catalog-top>p {
    width:100%;
    margin-bottom: 0.25em!important;
}


.catalog-top>p:first-child:before  {
    
    content: '';
    display: inline-block!important;
    width: 0.5em;
    height: 0.5em;
    background: linear-gradient(142deg, #007cff 0%, #b721ff 100%) !important;
    position: absolute;
    z-index: -1;
    mix-blend-mode: color;
    margin-left: -0.35em!important;
    margin-top: 0.45em;
    border-radius: 0.5em;
    left: 0px;
    @media @phone {
        margin-left: 0.5em!important;
        
        
    }
}

.catalog-top>p:first-child {
    
    margin-top: -1em;
    z-index: 1;
}

.sub-anchor:before {
    content: "\f608";
    font-family: 'Font Awesome 5 Free';
    color: black;
    width: 1.1em;
    /* height: 2em; */
    display: inline-block;
    font-weight: 900;
}

.anchor:target+.sub-anchor:before {
    color: transparent;
    background: linear-gradient(11deg, #ff732d, #ffe271);
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    animation: breath 2s 10 ease-in-out both;
}

.anchor {
    display: inline-block;
    width: .1em;
    height: .1em;
    position: absolute;
    transform: translate(0px, -15vh);
    content: '';
}

span.title-anchor {
    transform: translate(0px, -15vh);
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 1px;
}

.catalog-top {
    a[data-tag]:before {
     color: var(--control-catagory-color);
    display: inline-block;
    margin-right: .33em;
    margin-left: .33em;
    white-space: nowrap;
    }

a[data-tag="H1"] {
    font-weight: 600;
}

a[data-tag="H3"]:before {
    content: '·';
}

a[data-tag="H4"]:before {
    content: '· ·';
}

a[data-tag="H5"]:before {
    content: '· · ·';
}

a[data-tag="H6"]:before {
    content: '· · · ·';
}

a[data-tag] {
    width: 100%;
    text-align: left;
    color: var(--control-color);
    display: flex;
}

@media @desktop-hd {
 

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    position: fixed;
    max-width: ~"calc(5vw + 80px)";
    bottom: 2vh;
    border-left: 1px var(--control-catagory-color) dotted;
    --control-catagory-color: rgba(128,208,199,0.8);
    padding-left: 0.5em;
}

}










@media @phone {
.catalog-icon-mobile:before {
animation: 2s 10 ease-in-out breath;
    content: '\f02d';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.catalog-icon-mobile {
    display: inline-block;
    opacity: .75;
    transform: translate(3.5em, -1.8em) scale(-1, 1);
}
    .PostStreamScrubber.App-titleControl .Scrubber {
        margin-left: 55vw;
        /* box-shadow: 0px 0px 5px var(--header-control-color); */
    }

    
   a[data-tag]:before {
    font-weight: 200;
} 
    a[data-tag="H1"] {
    font-weight: 600;
}

a[data-tag="H3"]:before {
    content: '|'!important;
}

a[data-tag="H4"]:before {
    content: '| |'!important;
}

a[data-tag="H5"]:before {
    content: '| | |'!important;
}

a[data-tag="H6"]:before {
    content: '| | | |'!important;
}
    
    
}

.PostStreamScrubber.open {
    @media @phone { 
 .catalog-top:empty {
    left: -70vw!important;
    animation: 1s 1 ease-in-out fadeOutLeft
    }
  
    .catalog-top:not(:empty) {
    animation: 1s 1 ease-in-out fadeInLeft;
    left: 0px;
    }
    .catalog-top {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1.5em;
    background: var(--body-bg);
    column-gap: 5vw;
    font-size: 12px;
    position: fixed;
    align-content: flex-start;
    box-shadow: 0px 0px 10px var(--header-control-color);
    border-radius: var(--border-radius);
    height: ~"calc(100% - 45px)";
    z-index: 1050;
    width: 55vw;
        /* right: 0px; */
     transition: 1s;
    justify-content: center;
    margin-top: -2em;
    }
  }




}

.PostStreamScrubber:not(.open) {
    @media @phone { 
.catalog-top {
   display: none
}
}
}
.Post-actions>ul>li.item-progress {
    display: none;
}

.PostStreamCurrent .Post-actions>ul>li.item-progress {
    display: inline-block!important;
    margin-right: 1em;
   
}
aside.Post-actions {
    position: sticky;
    bottom: 0.5em;
    background: var(--body-bg);
    border-radius: 2em;
    padding: 0 1em;
opacity: 0.5;
}

